# --- Environment Variables (CRITICAL) ---
.env

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# --- Project Specific (Keep the folder, ignore the images) ---
static/images/*
!static/images/.gitkeep

# --- OS Specific ---
.DS_Store
Thumbs.db
